*{
    margin: 0;
    padding: 0;
   
}

.game-board{
    width: 100%;
    height: 549px;
    border-bottom: 20px solid #23df5b;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#d0b0d8, #E0F6FF);
}
.clouds{
    position: absolute;
    width: 300px;
    animation: clouds-animation 20s infinite linear;
}

.clouds2{
    position: absolute;
    width: 250px;
    animation: clouds-animation 30s infinite linear;
}
.clouds3{
    position: absolute;
    width: 150px;
    animation: clouds-animation 25s infinite linear;
}
.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2.0s infinite;
}

.peach{
    width: 140px;
    position: absolute;
    bottom: 0;
}
.jump{
    animation: jump 600ms ease-out;
}
@keyframes jump{
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes pipe-animation{
    from{
        right: 0;
    }
    to{
        right: 100%;
    }
}

@keyframes clouds-animation{
    from{
        right: -300px;
    }

    to{
        right: 100%
    }
}

@keyframes clouds2-animation{
    from{
        right: 250px;
    }

    to{
        right: 100%
    }
}

@keyframes clouds3-animation{
    from{
        right: 150px;
    }

    to{
        right: 100%
    }
}